.editor {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.line__numbers {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 40px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.line__numbers::-webkit-scrollbar {
  display: none;
}

.line__number {
  margin: 0px;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: right;
}

.editor__textarea {
  font-size: 1rem;
  flex: 1;
  line-height: 1.5rem;
  resize: none;
  border: none;
  outline: none;
  padding: 0px;
  overflow-y: auto;
}
