pre {
  background: transparent;
  height: 100%;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  overflow: hidden;
  z-index: -1;
}

pre[class*="language-"],
code[class*="language-"] {
  /* there might be some slight offsets,
       depending on what font you select */
  font-family: "Roboto Mono", monospace;
}

/* from Prism */
pre[class*="language-"].line-numbers {
  padding-left: 3.8em;
  counter-reset: linenumber;
  white-space: pre-wrap;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #928374;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
