.editor {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.line__numbers {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 40px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.line__numbers::-webkit-scrollbar {
  display: none;
}

.line__number {
  margin: 0px;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: right;
}

.codespace {
  position: relative;
  display: flex;
  flex: 1;
  margin-left: 10px;
}

.codespace__pre {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
