.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem;
  color: var(--color-light);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header h1 {
  margin: 0;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header__mini{
  color: var(--color-yellow);
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0.5rem 1rem;
  }
  
  .header h1 {
    font-size: 2rem;
  }
}
